<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Motor de Plantilla</title>
  </head>
  <body class="body">
 
    <form method="post" action="/api/signup">
      <label for="email">email</label>
        <input type="text" id="email" name="email" />
        <label for="password">password</label>
        <input type="text" id="password" name="password" />
        <label for="name">name</label>
        <input type="text" id="name" name="name" />
        <label for="age">age</label>
        <input type="number" id="age" name="age" />
        <label for="phoneNumber">Phone Number</label>
        <input type="number" id="phoneNumber" name="phoneNumber" />
    
        <button type="submit">
            registrarse
        </button>
    </form>

    <form method="get" action="/api/inicio">
      <button type="submit">volver al inicio</button>
    </form>
 
 
   
  </body>
</html>